#section3 {
  .container {
    width: 70%;
    min-width: 400px;
    height: 50vh;
    .box {
    }
    .text {
      span {
        color: #fff;
        font-size: 2vw;
        text-transform: uppercase;
      }
    }
  }
}
