#section2 {
  .container {
    width: 70%;
    min-width: 400px;
    height: 190vh;
    margin: 0 auto;
    .title {
      font-size: 60px;
      text-align: right;
      padding-top: 10vw;
      font-weight: 100;
      color: #4b3d30;
    }
    .subTitle {
      font-size: 15px;
      text-align: left;
      text-transform: uppercase;
      padding-top: 4vw;
      margin-left: 50vw;
      color: #4b3d30;
    }
    .aboutBox1 {
      .imgWrap {
        .img {
          width: 40vw;
          height: 50vw;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(../assets/images/main1__me02.jpg);
          margin-top: 5vw;
          margin-left: 5vw;
        }
      }
      .text {
        font-size: 10px;
        font-family: NexonLv1GothicLow;
        margin-top: 5vw;
        padding-left: 10vw;
        color: #4b3d30;
      }
    }
    .aboutBox2 {
      margin-top: 45vw;
      position: relative;
      .about__title1 {
        font-size: 40px;
        // margin-top: 35vw;
        color: #be968b;
        position: absolute;
        left: 0;
        top: 35vw;
      }
      .text {
        .img {
          background-image: url(../assets/images/main1__me03.jpg);
          width: 40vw;
          height: 30vh;
          background-size: cover;
          background-repeat: no-repeat;
          margin-left: 50vw;
          margin-top: -30vw;
        }
        .desc {
          font-size: 10px;
          font-family: NexonLv1GothicLow;
          text-align: left;
          margin-top: 3vw;
          margin-left: 30vw;
          color: #4b3d30;
        }
      }
    }
    .aboutBox3 {
      margin-top: 20vw;
      position: relative;
      .about__title2 {
        font-size: 40px;
        position: absolute;
        left: 40vw;
        top: 5vw;
        color: #906d63;
      }
      .text {
        .img {
          background-image: url(../assets/images/main1__me01.jpg);
          width: 35vw;
          height: 45vw;
          margin-left: 3vw;
          margin-top: 20vw;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .desc {
          font-size: 10px;
          font-family: NexonLv1GothicLow;
          position: absolute;
          left: 40vw;
          top: 21vw;
          color: #4b3d30;
          line-height: 1.5;
        }
      }
    }
  }
}
