#section4 {
  .container {
    margin-top: 50vh;
    width: 70%;
    min-width: 400px;
    height: 400vh;
    .sec__wrap1 {
      .sec__img1 {
        width: 100%;
        height: 60vh;
        background-image: url(../assets/images/img01.png);
        background-size: cover;
      }
      .sec__inner__text1 {
        font-size: 60px;
        margin-top: 2vw;
        font-weight: 200;
        color: #4d3d30;
        text-align: center;
        padding-left: 12vw;
      }
      .sec__inner__desc1 {
        font-size: 15px;
        padding-top: 5vw;
        text-align: center;
        font-family: NexonLv1GothicLow;
        color: #4d3d30;
      }
    }
    .button1 {
      position: relative;
      .git {
        width: 30vw;
        height: 10vw;
        font-size: 15px;
        border-radius: 50px;
        background-color: #f4f0ea;
        color: #4b3d30;
        border: 1px solid #4b3d30;
        position: absolute;
        left: 15vw;
        bottom: -15vw;
        text-align: center;
        font-weight: 100;
      }
      .site {
        width: 30vw;
        height: 10vw;
        font-size: 15px;
        border-radius: 50px;
        background-color: #f4f0ea;
        color: #4b3d30;
        border: 1px solid #4b3d30;
        position: absolute;
        left: 55vw;
        bottom: -15vw;
        text-align: center;
        font-weight: 100;
      }
    }
    .sec__wrap2 {
      margin-top: 30vw;
      .sec__img2 {
        width: 100%;
        height: 60vh;
        background-image: url(../assets/images/img02.png);
        background-size: cover;
      }

      .sec__inner__text2 {
        font-size: 60px;
        margin-top: 2vw;
        font-weight: 200;
        color: #4d3d30;
        text-align: center;
        padding-right: 8vw;
      }
      .sec__inner__desc2 {
        font-size: 15px;
        padding-top: 5vw;
        text-align: center;
        font-family: NexonLv1GothicLow;
        color: #4d3d30;
      }
    }
    .sec__wrap3 {
      margin-top: 30vw;
      .sec__img3 {
        width: 100%;
        height: 60vh;
        background-image: url(../assets/images/img03.png);
        background-size: cover;
      }

      .sec__inner__text3 {
        font-size: 60px;
        margin-top: 2vw;
        font-weight: 200;
        color: #4d3d30;
        text-align: center;
        padding-left: 12vw;
      }
      .sec__inner__desc3 {
        font-size: 15px;
        padding-top: 5vw;
        text-align: center;
        font-family: NexonLv1GothicLow;
        color: #4d3d30;
      }
    }
    .sec__wrap4 {
      margin-top: 30vw;
      .sec__img4 {
        width: 100%;
        height: 60vh;
        background-image: url(../assets/images/img04.png);
        background-size: cover;
      }

      .sec__inner__text4 {
        font-size: 50px;
        padding-left: 12vw;
        margin-top: 2vw;
        font-weight: 200;
        color: #4d3d30;
        text-align: center;
      }
      .sec__inner__desc4 {
        font-size: 15px;
        padding-top: 5vw;
        text-align: center;
        font-family: NexonLv1GothicLow;
        color: #4d3d30;
      }
    }
  }
}
